.row-cell {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    color: #848e9c;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 60px;
    background-color: white;
}